scripts/settings.txt
decomposition_results.json

# Videos
*.mp4
data/videos/
data/clip_frames/

# Model files
qwen_model/
*.gguf
*.bin
*.safetensors
*.pt
*.pth
qwen_model/

# ---- Python ----
__pycache__/
*.py[codz]
*.egg-info/
build/
dist/
.idea/

# Virtual environment folders
.venv/
venv/
env/
ENV/

